/* Стили кнопок */
@import url(./buttons.css);

input {
    outline: none;
    border: none;
    font-style: normal;
    font-family: 'Montserrat', sans-serif;
}

/* Поле поиска */
.search_input{
    color: var(--input_text_color);
    font-size: 16px;
    font-weight: 500;
    min-width: 150px;
    width: 100%;
}

.search_input::placeholder{
    color: var(--input_placeholder_color);
}