/* Адаптирование под разные разрешения */
/* Мобильная версия от 360px */
@media (min-width: 360px) and (max-width: 768px) {
    /* .container{
        max-width: 1270px;
    width: 100%;
    margin: 0 auto; 
    }*/
}

/* Планшетная версия от 768px */
@media (max-width: 930px) {
    /* .header-logo {
        gap: 30px;
        justify-content: space-between;
        width: 100%;
        padding: 37px 20px 63px;
    }

    .header-logo-form {
        width: 100%;
        gap: 56px;
    }

    .header__btns {
        flex-direction: row;
        width: 100%;
        gap: 23px;
        margin-left: 0;
    } */
}

/* Версия для ПК от 1140px */
/* @media (min-width: 1140px) and (max-width: 1270px) { */
    /* @media (max-width: 1270px) {
    .header-logo { */
        /* padding: 37px 0px 63px; */
    /* }

    .header-logo-form { */
        /* gap: 90px; */
    /* }

    .header__btns { */
        /* gap: 15px; */
    /* }
} */

/* .btns_rounded {
        min-width: 175px;
    }
        padding: 37px 0px 63px;

    .section-latest-products {
        padding: 0 30px;
    } 
}
*/