/* Адаптирование под разные разрешения */
/* Мобильная версия от 360px */
@media (min-width: 360px) and (max-width: 768px) {}

/* Планшетная версия от 768px */
@media (max-width: 930px)  {
    .header-logo {
        gap: 30px;
        justify-content: space-between;
        width: 100%;
        padding: 37px 20px 63px;
    }

    .header-logo-form {
        width: 100%;
        /* gap: 56px;  */
    }

    .header__btns {
        flex-direction: row;
        width: 100%;
        gap: 23px;
        margin-left: 0;
    }
}

/* Версия для ПК от 1140px */
/* @media (min-width: 1140px) {
    .btns_rounded {
        min-width: 175px;
    }

    .section-latest-products {
        padding: 0 30px;
    } 
}*/