/* Глобальные переменные стилей */
@import url(./variables.css);
/* Стили параграфов, заголовков и т.п */
@import url(./text.css);
/* Стили ссылок */
@import url(./links.css);
/* Стили форм */
@import url(./forms.css);
/* Позиционирование */
@import url(./position.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: none;
}

header,
main {
    font-style: normal;
    font-family: 'Montserrat', sans-serif;
}

footer {
    font-family: 'DM Sans', sans-serif;
}

.container {
    max-width: 1270px;
    width: 100%;
    margin: 0 auto;
}

.flex-container {
    display: flex;
    justify-content: center;
}

/* <!-- --------------HEADER------------------- --> */
/* <!-- header-logo  --> */
.header-logo {
    align-items: center;
    gap: 239px;
    padding: 37px 85px 63px;
}

.header-logo-form {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 38px;

}

.form-search {
    display: flex;
    align-items: center;
    padding: 12px 18px 12px 32px;
    border-radius: 10px;
    background: #FFFFFF;
    box-shadow: 0px 15px 50px 0px rgba(46, 131, 158, 0.07);
}

.header__btns {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 23px;
}

/* <!-- header-navigation --> */
.header-navigation {
    background-color: #10B981;
    gap: 75px;
    padding: 28px 0;
}

/* <!-- --------------MAIN------------------- --> */
/* <!-- -------- section-latest-products --------- --> */
.section-latest-products {
    background: var(--second_main_color);
}

/* <!-- section-latest-products-left --> */
.section-latest-products-left {
    flex-direction: column;
    width: 50%;
    padding-top: 127px;
}

.discription__p_attr {
    color: var(--first_text_color);
    margin-top: 30px;
    width: 549px;
}

.btn_buy_indent {
    margin-top: 52px;
}

.products-rewiev {
    display: flex;
    align-items: center;
    margin-top: 107px;
}

/* <!-- section-latest-products-right --> */
.section-latest-products-right {
    width: 50%;
    align-items: start;
}

.playVideo {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 504px;
}

.playVideo__svg {
    background-image: url(./img/face_5.svg);
    background-repeat: no-repeat;
    background-position: 5px;
}

.discription_primary__p_color {
    color: var(--first_text_color);
}

.star_up {
    padding-top: 75px;
}

.read-beats {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    padding: 76px 4px 102px;
    border-radius: 136px;
    background: var(--background_earphone);
}

.star_down {
    padding-top: 628px;
}

/* <!-- -------- section-featured-products --------- --> */
.section-featured-products {
    margin-top: 85px;
    padding: 73px 43px 47px 85px;
    background: var(--second_section_color);
}

/* <!-- -------- section-featured-products-left --------- -->       */
.section-featured-products-left {
    width: 54%;
    flex-direction: column;
    background: var(--second_section_color);
}

.featured-products__img {
    gap: 33px;
    justify-content: flex-start;
    padding-top: 40px;
}

.price__p_indent {
    padding-top: 12px;
}

/* <!-- section-featured-products-right --> */
.section-featured-products-right {
    width: 46%;
    background: var(--second_section_color);
    flex-direction: column;
    padding-top: 146px;
    padding-left: 55px;
    justify-content: flex-start;
}

.discription__p_indent {
    padding-top: 10px;
}

.section-featured-products__control {
    padding-top: 35px;
    display: flex;
    align-items: center;
    gap: 50px;
}