@charset "UTF-8";
/* Глобальные переменные стилей */
@import "./variables.css";
/* Стили параграфов, заголовков и т.п */
@import "./text.css";
/* Стили ссылок */
@import "./links.css";
/* Стили форм */
@import "./forms.css";
/* Позиционирование */
@import "./position.css";
/* HEADER */
@import "./header.css";
/* MAIN */
/* section-latest-products */
@import "./latest-products.css";
/* section-featured-products */
@import "./featured-products.css";
/* Top Sellers */
@import "./top-sellers.css";
/* Trending Earphones */
@import "./trending-earphones.css";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: none;
}

main {
  font-style: normal;
  font-family: "Montserrat", sans-serif;
}

footer {
  font-family: "DM Sans", sans-serif;
}

.container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}

/* <!-- --------------MAIN------------------- --> */
/* <!-- -------- section-featured-products --------- --> */
.section-featured-products {
  margin-top: 85px;
}

/* New Launches */
.title-new-launches__attr_h3 {
  margin: 130px auto 65px auto;
  max-width: 333px;
  width: 100%;
  text-align: center;
  color: var(--first_text_color);
}

.section-new-launches {
  display: flex;
  flex-direction: row;
  padding: 62px 63px 38px 30px;
  width: 100%;
  gap: 52px;
  background: var(--second_section_color);
  /* <!-- -------- section-new-launches-left --------- --> */
  /* <!-- -------- section-new-launches-right --------- --> */
}
.section-new-launches-left {
  display: flex;
  flex-direction: row;
  width: 50%;
  align-items: center;
  gap: 16px;
  padding-left: 60px;
}
.section-new-launches-left__earhpones {
  display: flex;
  gap: 45px;
  padding-top: 62px;
  align-items: center;
}
.section-new-launches-left__earhpones_img {
  border-radius: 120px;
}
.section-new-launches-left__earhpones_img_top {
  margin-top: 50px;
}
.section-new-launches-right {
  width: 50%;
  display: flex;
  align-items: center;
  gap: 16px;
}
.section-new-launches-right-list {
  display: flex;
  flex-direction: column;
}
.section-new-launches-right-list__attr_h3 {
  margin-top: 30px;
  font-size: 60px;
}
.section-new-launches-right-list-descr__attr_p {
  margin-top: 29px;
}
.section-new-launches-right-list-price__attr_p {
  margin-top: 26px;
}
.section-new-launches-right-list__circ {
  display: flex;
  gap: 31px;
  margin-top: 50px;
}
.section-new-launches-right-list__control {
  display: flex;
  margin-top: 50px;
  gap: 67px;
  align-items: center;
}
.section-new-launches-right-list__control_attr {
  padding: 22px 90px;
}

/* <!-- --------------FOOTER------------------- --> */
.footer-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 130px 185px;
}
.footer-block .start {
  display: flex;
  gap: 40px;
  width: 100%;
  justify-content: flex-end;
  padding-bottom: 41px;
  align-items: center;
  border-bottom: 1px solid var(--footer_start_section_color_border_bottom);
}
.footer-block .start_p {
  font-size: 22px;
  font-weight: 400;
  color: var(--first_text_color);
}
.footer-block .center {
  display: flex;
  margin-top: 40px;
  gap: 150px;
}
.footer-block .center-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
}
.footer-block .center-left__email-descr {
  font-size: 22px;
  font-weight: 400;
  max-width: 165px;
  line-height: 29px;
  letter-spacing: -0.3px;
  width: 100%;
}
.footer-block .center-left__email-form {
  display: flex;
  border-bottom: 1px solid var(--footer_start_section_color_border_bottom);
  align-items: center;
  max-width: 289px;
  width: 100%;
}
.footer-block .center-right {
  display: flex;
  gap: 172px;
}
.footer-block .center-right_ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
  list-style: none;
}
.footer-block .center-right_ul-title {
  color: var(--first_main_color);
  font-size: 17px;
  font-weight: 400;
}
.footer-block .center-right_ul_a {
  color: var(--first_text_color);
  font-size: 15px;
  font-weight: 400;
}

.end {
  display: flex;
  margin-top: 115px;
  flex-direction: row;
  width: 100%;
  gap: 660px;
}
.end-left {
  display: flex;
}
.end-left_ul {
  display: flex;
  gap: 39px;
  list-style: none;
}
.end-left_ul_a {
  font-size: 15px;
  font-weight: 400;
  color: var(--first_text_color);
}
.end-right {
  display: flex;
  align-items: center;
}
.end-right_ul {
  list-style: none;
  display: flex;
  gap: 40px;
}

/* Адаптирование под разные разрешения */
/* Мобильная версия от 360px до 768px */
@media (min-width: 360px) and (max-width: 768px) {
  .container {
    min-width: 368px;
    max-width: 768px;
    width: 100%;
  }
}
/* Планшетная версия от 769px до 1140px */
@media (min-width: 769px) and (max-width: 1140px) {
  .container {
    min-width: 769px;
    max-width: 1140px;
    width: 100%;
  }
}/*# sourceMappingURL=style.css.map */