:root {
    --first_main_color: #10B981;
    --second_main_color: #ffffff;
    --first_section_color: #ffffff;
    --second_section_color: #845EC2;
    --first_text_color: #000000;
    --second_text_color: #ffffff;
    --background_earphone: #ECFEF4;
}