$color_1: var(--main_text_color);
$color_2: var(--second_main_color);
$color_3: var(--second_text_color);
$color_4: var(--first_text_color);
$font-family_1: "Montserrat", sans-serif;
$background-color_1: var(--first_main_color);
$background-color_2: var(--second_main_color);

button {
	cursor: pointer;
	font-style: normal;
	font-family: $font-family_1;
}

/* Кнопка поиска  */
.form-search__btn {
	border: 1px solid var(--first_main_color);
	padding: 19px;
	border-radius: 5px;
	background-color: $background-color_1;
	background-image: url(../img/search.svg);
	background-repeat: no-repeat;
	background-position: center;
	&:hover {
		background-color: $background-color_2;
		background-image: url(../img/search_a.svg);
	}
}
/* Кнопки корзины и логина */
.btns_rounded {
	padding: 18px 20px 18px 50px;
	border-radius: 30px;
	background-color: $background-color_2;
	border: 1px solid var(--first_main_color);
	box-shadow: 0px 10px 35px 0px rgba(0, 0, 0, 0.1);
	background-repeat: no-repeat;
	color: $color_1;
	font-size: 16px;
	font-weight: 500;
	text-align: center;
	max-width: 350px;
	min-width: 210px;
	width: 100%;
	background-position: left 15px center;
	&:hover {
		background-color: $background-color_1;
		border: 1px solid var(--second_main_color);
		color: $color_2;
	}
}
.btns_rounded_cart {
	background-image: url(../img/Shopping.svg);
	&:hover {
		background-image: url(../img/Shopping_no.svg);
	}
}
.btns_rounded_login {
	background-image: url(../img/login_a.svg);
	&:hover {
		background-image: url(../img/login.svg);
	}
}

/* Прямоугольные кнопки */
.btns_rect {
	border-radius: 10px;
	background: var(--first_main_color);
	box-shadow: 0px 25px 50px 0px rgba(132, 94, 194, 0.15);
	padding: 22px 70px;
	min-width: 263px;
	width: fit-content;
	text-align: center;
	color: $color_3;
	font-size: 21px;
	font-weight: 600;
	line-height: normal;
	border: 1px solid var(--first_main_color);
	box-shadow: 0px 25px 50px 0px rgba(255, 255, 255, 0.1);
	&:hover {
		background: var(--second_main_color);
		color: $color_4;
	}
}
/* Овальные кнопки */
.circ_btn {
	font-size: 26px;
	font-weight: 600;
	padding: 25px 30px;
	border: 1px solid transparent;
	background: none;
	&:hover{
		background: var(--first_main_color);
		color: $color_3;
		border-radius: 50%;
		border: 1px solid var(--first_main_color);
	}
}