/* <!-- --------------HEADER------------------- --> */
/* <!-- header-logo  --> */

$font-family_1: "Montserrat", sans-serif;
$background-color_1: var(--first_main_color) !global;

header {
    font-style: normal;
    font-family: $font-family_1;
}
.header-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 38px;
    padding: 37px 85px 63px;
    &-form {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 239px;
        .form-search {
            display: flex;
            align-items: center;
            justify-content: space-between;
            max-width: 350px;
            min-width: 150px;
            width: 100%;
            padding: 12px 18px 12px 32px;
            border-radius: 10px;
            background: #ffffff;
            box-shadow: 0px 15px 50px 0px rgba(46, 131, 158, 0.07);
        }
    }
    .header__btns {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 23px;
    }
}
/* <!-- header-navigation --> */
.header-navigation {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $background-color_1;
    gap: 75px;
    padding: 28px 0px;
}

/* Адаптирование под разные разрешения */
/* Мобильная версия от 360px до 768px */
/* <!-- header-logo  --> */
@media (min-width: 360px) and (max-width: 768px) {
    .container {
        min-width: 368px;
        max-width: 768px;
        width: 100%;
    }
    .header-logo {
        flex-direction: column;
        padding: 30px;
        align-items: normal;
        &-form {
            gap: 50px;
            flex-wrap: wrap;
            .header-logo__link_green {
                font-size: 50px;
            }
            .form-search {
                max-width: 650px;
            }
        }
        .header__btns {
            flex-wrap: wrap;
            flex-direction: row;
            .btns_rounded {
                max-width: 650px;
            }
        }
    }
    .header-navigation {
        flex-direction: column;
        gap: 50px;
        flex-wrap: wrap;
    }
}
/* Планшетная версия от 769px до 1140px */
@media (min-width: 769px) and (max-width: 1140px) {
    .container {
        min-width: 769px;
        max-width: 1140px;
        width: 100%;
    }
    .header-logo {
        flex-direction: column;
        padding: 30px;
        align-items: normal;
        &-form {
            gap: 50px;
            flex-wrap: wrap;
            .header-logo__link_green {
                font-size: 50px;
            }
            .form-search {
                max-width: 650px;
            }
        }
        .header__btns {
            flex-direction: row;
            .btns_rounded {
                max-width: 450px;
            }
        }
    }
    .header-navigation {
        flex-direction: row;
        gap: 50px;
    }
}
