/* Адаптирование под разные разрешения */
/* Мобильная версия от 360px до 768px */
/* <!-- --------------HEADER------------------- --> */
/* <!-- header-logo  --> */
@media (min-width: 360px) and (max-width: 768px) {
	.container {
		min-width: 368px;
		max-width: 768px;
		width: 100%;
	}
	.header-logo {
		flex-direction: column;
		padding: 30px;
		align-items: normal;
		&-form {
			gap: 50px;
			flex-wrap: wrap;
			.header-logo__link_green {
				font-size: 50px;
			}
			.form-search {
				max-width: 650px;
			}
		}
		.header__btns {
			flex-wrap: wrap;
			flex-direction: row;
			.btns_rounded {
				max-width: 650px;
			}
		}
	}
	.header-navigation {
		flex-direction: column;
		gap: 50px;
		flex-wrap: wrap;
	}
	/* <!-- --------------MAIN------------------- --> */
	/* <!-- -------- section-latest-products --------- -->  */
	.section-latest-products {
		flex-direction: column;
		padding: 30px;
		/* <!-- section-latest-products-left --> */
		&-left {
			padding-top: 30px;
			width: 100%;
			.title_primary__h1 {
				font-size: 62px;
			}
			.btn_buy_indent {
				margin-top: 30px;
			}
			.products-rewiev {
				margin-top: 50px;
				&__p_attr {
					left: 190px;
				}
			}
		}
		/* <!-- section-latest-products-right --> */
		&-right {
			width: 100%;
			flex-direction: column;
			.playVideo {
				padding-top: 70px;
			}
			.main-beats {
				flex-direction: column;
				.star_up {
					padding-top: 30px;
				}
				.read-beats {
					margin: 0;
				}
				.star_down {
					padding: 0;
					padding-left: 250px;
				}
			}
		}
	}
	/* <!-- -------- section-featured-products --------- --> */
	.section-featured-products {
		flex-direction: column;
		padding: 30px;
		/* <!-- -------- section-featured-products-left --------- --> */
		&-left {
			width: 100%;
			flex-direction: column;
		}
		&__img {
			flex-wrap: wrap;
			justify-content: center;
			align-items: center;
			.featured-products__img_center {
				position: static;
			}
		}
		/* <!-- section-featured-products-right --> */
		&-right {
			width: 100%;
			padding-top: 30px;
			.section-featured-products__control {
				padding-top: 35px;
				flex-wrap: wrap;
				justify-content: flex-start;
				gap: 20px;
			}
		}
	}
	/* <!-- Top Sellers --> */
	.section-top-sellers {
		padding-top: 50px;
		&__btns {
			gap: 30px;
			padding-top: 30px;
		}
		.products {
			margin-top: 50px;
			display: flex;
			flex-direction: column;
			gap: 20px;
			&-container {
				gap: 70px;
			}
			&-main {
				&__btn {
					padding: 23px 80px;
				}
				&-block {
					gap: 15px;
					&__discount {
						left: 163px;
						top: 77px;
						padding: 21px 25px;
						font-size: 16px;
						&__btn {
							padding: 23px 80px;
						}
					}
					&-foto {
						&-discount {
							top: 0;
							left: 157px;
						}
					}
					&__descr {
						padding: 19px 30px 31px 30px;
					}
				}
			}
		}
	}
	.section-trending-earphones {
		padding: 50px;
	}
	/* <!--New Launches--> */
	.title-new-launches__attr_h3 {
		margin: 30px auto 65px auto;
	}
	.section-new-launches {
		align-items: center;
		padding: 48px 80px 38px 48px;
		flex-wrap: wrap;
		&-left {
			width: 100%;
			flex-direction: column;
			&__earhpones {
				flex-direction: column;
				gap: 0;
				padding-top: 30px;
			}
		}
		&-right {
			width: 100%;
			flex-wrap: wrap;
			justify-content: center;
			&-list {
				&__control {
					gap: 37px;
					flex-wrap: wrap;
					&_attr {
						padding: 22px 40px;
					}
				}
			}
		}
	}
}
/* Планшетная версия от 769px до 1140px */
@media (min-width: 769px) and (max-width: 1225px) {
	.container {
		min-width: 769px;
		max-width: 1225px;
		width: 100%;
	}
	.header-logo {
		flex-direction: column;
		padding: 30px;
		align-items: normal;
		&-form {
			gap: 50px;
			flex-wrap: wrap;
			.header-logo__link_green {
				font-size: 50px;
			}
			.form-search {
				max-width: 650px;
			}
		}
		.header__btns {
			flex-direction: row;
			.btns_rounded {
				max-width: 450px;
			}
		}
	}
	.header-navigation {
		flex-direction: row;
		gap: 50px;
	}
	/* <!-- --------------MAIN------------------- --> */
	/* <!-- -------- section-latest-products --------- -->  */
	.section-latest-products {
		flex-direction: column;
		align-items: center;
		padding: 30px;
		/* <!-- section-latest-products-left --> */
		&-left {
			padding-top: 30px;
			width: 100%;
		}
		/* <!-- section-latest-products-right --> */
		&-right {
			width: 100%;
		}
	}
	/* <!-- -------- section-featured-products --------- --> */
	.section-featured-products {
		flex-direction: column;
		padding: 30px;
		align-items: center;
		gap: 100px;
		&-left {
			width: 100%;
		}
		&-right {
			width: 100%;
			max-width: 635px;
			display: flex;
			padding-top: 0;
		}
	}
	/* <!-- Top Sellers --> */
	/* <!--Trending Earphones --> */
	.section-top-sellers {
		padding: 30px;
		.products {
			flex-direction: column;
			.arrow_btn {
				margin: 30px;
			}
		}
	}
	/* <!--New Launches--> */
	.title-new-launches__attr_h3 {
		margin: 30px auto 65px auto;
	}
	.section-new-launches {
		align-items: center;
		padding: 48px 80px 38px 48px;
		flex-wrap: wrap;
		&-left {
			width: 100%;
			flex-direction: row;
			flex-wrap: wrap;
			align-items: center;
			justify-content: center;
			&__earhpones {
				flex-direction: row;
				flex-wrap: wrap;
				gap: 16px;
				padding-top: 30px;
			}
		}
		&-right {
			width: 100%;
			flex-wrap: wrap;
			justify-content: center;
			&-list {
				max-width: 635px;
				flex-wrap: wrap;
				&__control {
					gap: 37px;
					flex-wrap: wrap;
					&_attr {
						padding: 22px 40px;
					}
				}
			}
		}
	}
}
