/* Адаптирование под разные разрешения */
/* Мобильная версия от 360px до 768px */
/* <!-- --------------HEADER------------------- --> */
/* <!-- header-logo  --> */
@media (min-width: 360px) and (max-width: 768px) {
	.container {
		min-width: 368px;
		max-width: 768px;
		width: 100%;
	}
	.header-logo {
		flex-direction: column;
		padding: 30px;
		align-items: normal;
		&-form {
			gap: 50px;
			flex-wrap: wrap;
			.header-logo__link_green {
				font-size: 50px;
			}
			.form-search {
				max-width: 650px;
			}
		}
		.header__btns {
			flex-wrap: wrap;
			flex-direction: row;
			.btns_rounded {
				max-width: 650px;
			}
		}
	}
	.header-navigation {
		flex-direction: column;
		gap: 50px;
		flex-wrap: wrap;
	}
	/* <!-- --------------MAIN------------------- --> */
	/* <!-- -------- section-latest-products --------- -->  */
	.section-latest-products {
		flex-direction: column;
		padding: 30px;
		/* <!-- section-latest-products-left --> */
		&-left {
			padding-top: 30px;
			width: 100%;
			.title_primary__h1 {
				font-size: 62px;
			}
			.btn_buy_indent {
				margin-top: 30px;
			}
			.products-rewiev {
				margin-top: 50px;
				&__p_attr {
					left: 190px;
				}
			}
		}
		/* <!-- section-latest-products-right --> */
		&-right {
			width: 100%;
			flex-direction: column;
			.playVideo {
				padding-top: 70px;
			}
			.main-beats {
				flex-wrap: wrap;
				 .star_up {
					padding-top: 30px;
				// 	display: flex;
				// 	justify-content: flex-start;
				// 	padding-top: 0;
				 }
				 .read-beats {
					margin: 0;
				// 	display: flex;
				// 	justify-content: center;
				// 	align-items: center;
				// 	margin: 0;
				// 	padding: 10px;
				// 	border-radius: 136px;
				// 	background: var(--background_earphone);
				 }
				 .star_down {
				// 	display: flex;
				// 	justify-content: flex-end;
				 	padding: 0;
				 padding-left: 250px;
				 }
			}
		}
	}
	/* <!-- -------- section-featured-products --------- --> */
	.section-featured-products {
		flex-direction: column;
		padding: 30px;
		/* <!-- -------- section-featured-products-left --------- --> */
		&-left {
			width: 100%;
			flex-direction: column;
		}
		&__img {
			flex-wrap: wrap;
			justify-content: center;
			align-items: center;
			.featured-products__img_center {
				position: static;
			}
		}
		/* <!-- section-featured-products-right --> */
		&-right {
			width: 100%;
			padding-top: 30px;
			.section-featured-products__control {
				padding-top: 35px;
				flex-wrap: wrap;
				justify-content: flex-start;
				gap: 20px;
			}
		}
	}
	/* <!-- Top Sellers --> */
	.section-top-sellers {
		padding-top: 50px;
		&__btns {
			gap: 30px;
			padding-top: 30px;
		}
		.products {
			margin-top: 50px;
			display: flex;
			flex-direction: column;
			gap: 20px;
			&-container {
				gap: 70px;
			}
			&-main {
				&__btn {
					padding: 23px 80px;
				}
				&-block {
					gap: 15px;
					&__discount {
						left: 163px;
						top: 77px;
						padding: 21px 25px;
						font-size: 16px;
						&__btn {
							padding: 23px 80px;
						}
					}
					&-foto {
						&-discount {
							top: 0;
							left: 157px;
						}
					}
					&__descr {
						padding: 19px 30px 31px 30px;
					}
				}
			}
		}
	}
	.section-trending-earphones {
		padding: 50px;
	}
}
/* Планшетная версия от 769px до 1140px */
@media (min-width: 769px) and (max-width: 1140px) {
	.container {
		min-width: 769px;
		max-width: 1140px;
		width: 100%;
	}
	.header-logo {
		flex-direction: column;
		padding: 30px;
		align-items: normal;
		&-form {
			gap: 50px;
			flex-wrap: wrap;
			.header-logo__link_green {
				font-size: 50px;
			}
			.form-search {
				max-width: 650px;
			}
		}
		.header__btns {
			flex-direction: row;
			.btns_rounded {
				max-width: 450px;
			}
		}
	}
	.header-navigation {
		flex-direction: row;
		gap: 50px;
	}
	/* <!-- --------------MAIN------------------- --> */
	/* <!-- -------- section-latest-products --------- -->  */
	.section-latest-products {
		flex-direction: column;
		padding: 30px;
		/* <!-- section-latest-products-left --> */
		&-left {
			padding-top: 30px;
			width: 100%;
			.title_primary__h1 {
				font-size: 62px;
			}
			.btn_buy_indent {
				margin-top: 30px;
			}
			.products-rewiev {
				margin-top: 50px;
				&__p_attr {
					left: 190px;
				}
			}
		}
		/* <!-- section-latest-products-right --> */
		&-right {
			width: 100%;
			flex-direction: column;
			.playVideo {
				padding-top: 70px;
			}
			.star_up {
				display: flex;
				justify-content: flex-start;
				padding-top: 0;
			}
			.read-beats {
				display: flex;
				justify-content: center;
				align-items: center;
				margin: 0;
				padding: 10px;
				border-radius: 136px;
				background: var(--background_earphone);
			}
			.star_down {
				display: flex;
				justify-content: flex-end;
				padding-top: 0;
			}
		}
	}
}
