/* Адаптирование под разные разрешения */
/* Мобильная версия от 360px до 768px */
/* <!-- --------------HEADER------------------- --> */
/* <!-- header-logo  --> */
@media (min-width: 360px) and (max-width: 768px) {
	// .container {
	// 	min-width: 368px;
	// 	max-width: 768px;
	// 	width: 100%;
	// }
	/* <!-- --------------MAIN------------------- --> */
	
	/* <!-- -------- section-featured-products --------- --> */
	
	/* <!-- Top Sellers --> */
	.section-top-sellers {
		padding-top: 50px;
		&__btns {
			gap: 30px;
			padding-top: 30px;
		}
		.products {
			margin-top: 50px;
			display: flex;
			flex-direction: column;
			gap: 20px;
			&-container {
				gap: 70px;
			}
			&-main {
				&__btn {
					padding: 23px 80px;
				}
				&-block {
					gap: 15px;
					&__discount {
						left: 163px;
						top: 77px;
						padding: 21px 25px;
						font-size: 16px;
						&__btn {
							padding: 23px 80px;
						}
					}
					&-foto {
						&-discount {
							top: 0;
							left: 157px;
						}
					}
					&__descr {
						padding: 19px 30px 31px 30px;
					}
				}
			}
		}
	}
	.section-trending-earphones {
		padding: 50px;
	}
	/* <!--New Launches--> */
	.title-new-launches__attr_h3 {
		margin: 30px auto 65px auto;
	}
	.section-new-launches {
		align-items: center;
		padding: 48px 80px 38px 48px;
		flex-wrap: wrap;
		&-left {
			width: 100%;
			flex-direction: column;
			&__earhpones {
				flex-direction: column;
				gap: 0;
				padding-top: 30px;
			}
		}
		&-right {
			width: 100%;
			flex-wrap: wrap;
			justify-content: center;
			&-list {
				&__control {
					gap: 37px;
					flex-wrap: wrap;
					&_attr {
						padding: 22px 40px;
					}
				}
			}
		}
	}
	/* <!-- --------------FOOTER------------------- --> */
	.footer-block {
		padding: 30px;
		flex-wrap: wrap;
		flex-direction: row;
		.start {
			flex-wrap: wrap;
		}
		.center {
			flex-wrap: wrap;
			gap: 70px;
			justify-content: center;
			&-right {
				flex-wrap: wrap;
				gap: 50px;
			}
		}
		.end {
			flex-wrap: wrap;
			gap: 50px;
			width: fit-content;
		}
	}
}
/* Планшетная версия от 769px до 1140px */
@media (min-width: 769px) and (max-width: 1140px) {
	.container {
		min-width: 769px;
		max-width: 1140px;
		width: 100%;
	}
	/* <!-- --------------MAIN------------------- --> */
	

	/* <!-- Top Sellers --> */
	/* <!--Trending Earphones --> */
	.section-top-sellers {
		padding: 30px;
		.products {
			flex-direction: column;
			.arrow_btn {
				margin: 30px;
			}
		}
	}
	/* <!--New Launches--> */
	.title-new-launches__attr_h3 {
		margin: 30px auto 65px auto;
	}
	.section-new-launches {
		align-items: center;
		padding: 48px 80px 38px 48px;
		flex-wrap: wrap;
		&-left {
			width: 100%;
			flex-direction: row;
			flex-wrap: wrap;
			align-items: center;
			justify-content: center;
			&__earhpones {
				flex-direction: row;
				flex-wrap: wrap;
				gap: 16px;
				padding-top: 30px;
			}
		}
		&-right {
			width: 100%;
			flex-wrap: wrap;
			justify-content: center;
			&-list {
				max-width: 635px;
				flex-wrap: wrap;
				&__control {
					gap: 37px;
					flex-wrap: wrap;
					&_attr {
						padding: 22px 40px;
					}
				}
			}
		}
	}
	/* <!-- --------------FOOTER------------------- --> */
	.footer-block {
		padding: 30px;
		flex-wrap: wrap;
		flex-direction: row;
		.start {
			flex-wrap: wrap;
		}
		.center {
			flex-wrap: wrap;
			gap: 70px;
			justify-content: center;
			&-right {
				flex-wrap: wrap;
				gap: 50px;
			}
		}
		.end {
			flex-wrap: wrap;
			gap: 50px;
			width: fit-content;
		}
	}
}
