$font-family_1: "Montserrat", sans-serif;
$color_1: var(--input_text_color);
$color_2: var(--input_placeholder_color);
$background-color_1: var(--first_main_color) !global;

/* <!-- mobile-menu --> */
.mobile-menu {
    height: 100vh;
    width: 100%;
    justify-content: center;
    display: flex;
    align-items: center;
    gap: 200px;
    flex-direction: column;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    padding-top: 160px;
    z-index: 10;
    background-color: var(--second_main_color);
    transition: all 1s ease-out;
    &__close {
        position: absolute;
        right: 70px;
        top: 50px;
        border: none;
        background: none;
        color: var(--first_main_color);
        font-size: 50px;
    }
    &__form-search {
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: 300px;
        min-width: 150px;
        width: 100%;
        padding: 12px 18px 12px 32px;
        border-radius: 10px;
        background: #ffffff;
        box-shadow: 0px 15px 50px 0px rgba(46, 131, 158, 0.07);
    }
    &__navigation {
        display: flex;
        gap: 15px;
        flex-direction: column;
        align-items: center;
        padding: 0 28px;
        max-width: 1140px;
        min-width: 360px;
        width: 100%;
        background-color: $background-color_1;
        .link_primary {
            font-size: 40px;
            font-style: normal;
            font-family: $font-family_1;
        }
    }
}

.hidden {
    transform: translateX(-100%);
}

.visible {
    transform: translateX(0);
}
