$color_1: var(--input_text_color);
$color_2: var(--input_placeholder_color);
$font-family_1: "Montserrat", sans-serif;
$font-family_2: "DM Sans", sans-serif;
/* Глобальные переменные стилей */
@import "./variables.css";
/* Стили параграфов, заголовков и т.п */
@import "./text.css";
/* Стили ссылок */
@import "./links.css";
/* Стили кнопок */
@import "./buttons.css";
/* Позиционирование */
@import "./position.css";
/* HEADER */
@import "./header.css";
/* MAIN */
/* section-latest-products */
@import "./latest-products.css";
/* section-featured-products */
@import "./featured-products.css";
/* Top Sellers */
@import "./top-sellers.css";
/* Trending Earphones */
@import "./trending-earphones.css";
/* New Launches */
@import "./new-launches.css";
/* FOOTER */
@import "./footer.css";
/* mobile */
@import "./mobile.css";
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	background: none;
}

.container {
	max-width: 1440px;
	width: 100%;
	margin: 0 auto;
}

/* Поле поиска */
input {
	outline: none;
	border: none;
	font-style: normal;
	font-family: $font-family_1;
}
.form-search {
	&__input {
		color: $color_1;
		font-size: 16px;
		font-weight: 500;
		&::placeholder {
			color: $color_2;
		}
	}
}
/* Поле для e-mail */
.center-left__email-form__input {
	font-family: $font-family_2;
	color: $color_1;
	font-size: 15px;
	font-weight: 400;
	line-height: 20px;
	letter-spacing: -0.2px;
	&::placeholder {
		color: #808080;
	}
}

/* <!-- --------------MAIN------------------- --> */
/* <!-- -------- section-featured-products --------- --> */
.section-featured-products {
	margin-top: 85px;
}

/* Адаптирование под разные разрешения */
/* Мобильная версия от 360px до 768px */
@media (min-width: 360px) and (max-width: 768px) {
	.container {
		min-width: 368px;
		max-width: 768px;
		width: 100%;
	}
}
/* Планшетная версия от 769px до 1140px */
@media (min-width: 769px) and (max-width: 1140px) {
	.container {
		min-width: 769px;
		max-width: 1140px;
		width: 100%;
	}
}