* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: none;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

input {
    outline: none;
    border: none;
}

button {
    cursor: pointer;
    font-style: normal;
    font-family: 'Montserrat', sans-serif;

}

footer {
    font-family: 'DM Sans', sans-serif;

}

h3 {
    color: #2B2626;
    font-size: 44px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-align: center;
}

.content {
    margin: 0 auto;
    width: 100%;
    font-style: normal;
    font-family: 'Montserrat', sans-serif;
}

/* --------------HEADER------------------- */
.logo_header {
    display: flex;
    align-items: center;
    margin: 37px 85px 65px 85px;
    justify-content: center;
}

.input_buttons_logo_header {
    margin-left: 239px;
    display: flex;
}

.logo_header a {
    color: #10B981;
    font-size: 40px;
    font-style: italic;
    font-weight: 400;
    line-height: normal;
}

.logo_header a span {
    color: #000000;
    font-style: italic;
}

.search_logo_header {
    display: flex;
    align-items: center;
    padding: 10px 18px 10px 32px;
    border-radius: 10px;
    background: #FFFFFF;
    box-shadow: 0px 15px 50px 0px rgba(46, 131, 158, 0.07);
}

.search_logo_header input {
    font-family: 'Montserrat', sans-serif;
    color: #000000;
    font-size: 16px;
    font-weight: 500;
}

.search_logo_header input::placeholder {
    color: var(--Text-20, rgba(41, 41, 48, 0.20));
}

.search_logo_header button {
    border: none;
    width: 38px;
    height: 38px;
    padding: 8px 8px 9px 9px;
    border-radius: 5px;
    background-color: #10B981;
    background-image: url(./img/search.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.search_logo_header button:hover {
    background-color: #FFFFFF;
    border: 1px solid #10B981;
    background-image: url(./img/search_a.svg);
}

.buttons_logo_header {
    display: flex;
    align-items: center;
    margin-left: 38px;
    gap: 23px;
}

.cart_logo_header {
    display: flex;
    gap: 15px;
    align-items: center;
    padding: 18px 34px 18px 36px;
    border-radius: 30px;
    background-color: #FFFFFF;
    border: 1px solid #10B981;
    box-shadow: 0px 10px 35px 0px rgba(0, 0, 0, 0.10);
    background-image: url(./img/Shopping.svg);
    background-repeat: no-repeat;
    background-position: left 10% center;
}

.cart_logo_header span {
    font-family: 'Montserrat', sans-serif;
    color: #2B2626;
    font-size: 16px;
    font-weight: 500;
    margin-left: 15px;
}

.cart_logo_header:hover {
    border: 1px solid #FFFFFF;
    background-color: #10B981;
}

.cart_logo_header:hover {
    background-image: url(./img/Shopping_no.svg);
}

.cart_logo_header:hover span {
    color: #FFFFFF;
}

.login_logo_header {
    display: flex;
    gap: 15px;
    align-items: center;
    padding: 18px 34px 18px 36px;
    border-radius: 30px;
    border: 1px solid #FFFFFF;
    background-color: #10B981;
    box-shadow: 0px 10px 35px 0px rgba(0, 0, 0, 0.10);
    background-image: url(./img/login.svg);
    background-repeat: no-repeat;
    background-position: left 10% center;
}

.login_logo_header span {
    font-family: 'Montserrat', sans-serif;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 500;
    margin-left: 15px;
}

.login_logo_header:hover {
    border: 1px solid #10B981;
    background-color: #FFFFFF;
}

.login_logo_header:hover {
    background-image: url(./img/login_a.svg);
}

.login_logo_header:hover span {
    color: #000000;
}

.navigation {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 75px;
    padding: 28px 0;
    background-color: #10B981;
}

.navigation a {
    color: #FFFFFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

/* --------------MAIN------------------- */
.btn_rect_all {
    border-radius: 10px;
    background: #10B981;
    box-shadow: 0px 25px 50px 0px rgba(132, 94, 194, 0.15);
    padding: 22px 82px;
    text-align: center;
    color: #FFFFFF;
    font-size: 21px;
    font-weight: 600;
    line-height: normal;
    border: 1px solid #10B981;
    box-shadow: 0px 25px 50px 0px rgba(255, 255, 255, 0.10);
}

.btn_rect_all:hover {
    background: #FFFFFF;
    color: #10B981;
}

.btn_circ_all {
    padding: 30px 33px;
    border-radius: 100%;
    font-size: 26px;
}

.btn_circ_all:hover {
    background: #10B981;
    color: #FFFFFF;
}

.btn_none_circ_all {
    border: none;
    background-color: transparent;
    color: #000000;
    box-shadow: none;
}

.btn_none_rect_all {
    border: none;
    background-color: transparent;
    color: #FFFFFF;
    box-shadow: none;
}

.btn_blocks_circ {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 55px;
    gap: 10px;
}

.p_all {
    color: #FFFFFF;
    font-size: 21px;
    font-weight: 500;
    line-height: 35px;
    margin-top: 30px;
}
/*
.btn_rect_violet:hover {
    background: #845EC2;
    color: #FFFFFF;
    border: 1px solid #845EC2;
}

.btn_rect_green {
    background: #845EC2;
    color: #FFFFFF;
    border: 1px solid #845EC2;
}

.btn_rect_green:hover {
    background: #10B981;
    color: #FFFFFF;
    border: 1px solid #10B981;
}
*/
.p_price {
    color: #FFFFFF;
    font-size: 31px;
    font-style: normal;
    font-weight: 400;
    line-height: 35px;
    text-align: center;
    margin-top: 12px;
}

.span_price {
    color: #FFFFFF;
    font-size: 31px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

/* --------SECTION Discovery_our ---------*/
.Discovery_our {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 75px 151px 85px 85px;
    gap: 75px;
}

.discovery_out_left {
    margin-top: 51px;
}

.discovery_out_left p {
    color: #2B2626;
}

.discovery_out_left h1 {
    color: #2B2626;
    font-size: 64px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.discovery_out_left_people {
    display: flex;
    align-items: center;
    gap: 14px;
    margin-top: 107px;

}

.discovery_out_left_people_faces {
    display: flex;
    position: relative;
    align-items: center;
}

.user_1 {
    position: absolute;
    left: 0;
}

.user_2 {
    position: absolute;
    left: 40px;
}

.user_3 {
    position: absolute;
    left: 80px;
}

.user_4 {
    position: absolute;
    left: 120px;
}

.discovery_out_left_people p {
    margin: 0;
    margin-left: 186px;
    color: #2B2626;
    font-size: 26px;
    font-weight: 500;
    line-height: 35px;
}

.discovery_out_right {
    display: flex;
}

.discovery_out_right_play_video {
    margin-top: 395px;
}

.discovery_out_right_play_video_svg {
    background-image: url(./img/face_5.svg);
    background-repeat: no-repeat;
    background-position: 5px;
    margin-left: 15px;
}

.discovery_out_right_play_video_p {
    color: #2B2626;
    font-size: 21px;
    font-style: normal;
    font-weight: 500;
    line-height: 35px;
}

.discovery_earphone {
    margin-top: 49px;
    margin-left: 26px;
    padding: 76px 4px 102px 4px;
    border-radius: 136px;
    background: #ECFEF4;
}

.star_down {
    margin-left: 26px;
    margin-top: 553px;
}

/* --------SECTION Apple_wireless---------*/
.Apple_wireless {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #845EC2;
    padding: 73px 43px 45px 85px;
    gap: 55px;
}

.Apple_wireless_left h2 {
    font-size: 60px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-align: center;
    text-shadow: 0 0 5px #FFFFFF;
    color: #845EC2;
}

.Apple_wireless_left_earphones {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 33px;
    margin-top: 43px;
}

.earphone_2 {
    position: relative;
    top: -70px;
}

.Apple_wireless_right h2 {
    color: #FFFFFF;
    font-size: 44px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.Apple_wireless_right p {
    margin-top: 10px;
}

.Apple_wireless_right_btn {
    display: flex;
    margin-top: 35px;
    gap: 10px;
}

.Apple_wireless_right_btn button {
    padding: 22px 70px 22px 70px;
}
.Apple_wireless_right_btn button:hover {
    background: #10B981;
    color: #FFFFFF;
}

/* --------Top Sellers---------*/
.Top_Sellers {
    padding: 121px 22px 0 85px;
}
.earphone_blocks{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 92px;
    gap: 93px;
}
.earphone_raiting{
    padding: 23px 21px 0 21px;
    border-radius: 15px;
    background-color: #845EC2;
}

.Top_Sellers_block_1{
    padding: 30px 21px 0 21px;
}

.Top_Sellers_block_2{
    padding: 7px 21px 0 21px;
}
