@import url(./variables.css);
@import url(./buttons.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: none;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

input {
    outline: none;
    border: none;
}

footer {
    font-family: 'DM Sans', sans-serif;

}

h3 {
    color: #2B2626;
    font-size: 44px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-align: center;
}

.content {
    margin: 0 auto;
    width: 100%;
    font-style: normal;
    font-family: 'Montserrat', sans-serif;
}

/* --------------HEADER------------------- */
.logo_header {
    display: flex;
    align-items: center;
    margin: 37px 85px 65px 85px;
    justify-content: center;
}

.input_buttons_logo_header {
    margin-left: 239px;
    display: flex;
}

.logo_header a {
    color: var(--first_main_color);
    font-size: 40px;
    font-style: italic;
    font-weight: 400;
    line-height: normal;
}

.logo_header a span {
    color: var(--first_text_color);
    font-style: italic;
}

.search_logo_header {
    display: flex;
    align-items: center;
    padding: 10px 18px 10px 32px;
    border-radius: 10px;
    background: #FFFFFF;
    box-shadow: 0px 15px 50px 0px rgba(46, 131, 158, 0.07);
}

.search_logo_header input {
    font-family: 'Montserrat', sans-serif;
    color: var(--first_text_color);
    font-size: 16px;
    font-weight: 500;
}

.search_logo_header input::placeholder {
    color: var(--Text-20, rgba(41, 41, 48, 0.20));
}

.buttons_logo_header {
    display: flex;
    align-items: center;
    margin-left: 38px;
    gap: 23px;
}

.navigation {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 75px;
    padding: 28px 0;
    background-color: var(--first_main_color);
}

.navigation a {
    color: var(--second_main_color);
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

/* --------------MAIN------------------- */

.p_all {
    color: #FFFFFF;
    font-size: 21px;
    font-weight: 500;
    line-height: 35px;
    margin-top: 30px;
}

.p_price {
    color: #FFFFFF;
    font-size: 31px;
    font-style: normal;
    font-weight: 400;
    line-height: 35px;
    text-align: center;
    margin-top: 12px;
}

.span_price {
    color: #FFFFFF;
    font-size: 31px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

/* --------SECTION Discovery_our ---------*/
.Discovery_our {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 75px 151px 85px 85px;
    gap: 75px;
}

.discovery_out_left {
    margin-top: 51px;
}

.discovery_out_left p {
    color: #2B2626;
    width: 550px;
}

.discovery_out_left h1 {
    color: #2B2626;
    font-size: 64px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    width: 600px;
}

.discovery_out_left_people {
    display: flex;
    align-items: center;
    gap: 14px;
    margin-top: 107px;
    width: 110px;
}

.discovery_out_left_people_faces {
    display: flex;
    position: relative;
    align-items: center;
}

.user_1 {
    position: absolute;
    left: 0;
}

.user_2 {
    position: absolute;
    left: 40px;
}

.user_3 {
    position: absolute;
    left: 80px;
}

.user_4 {
    position: absolute;
    left: 120px;
}

.discovery_out_left_people p {
    margin: 0;
    margin-left: 186px;
    color: #2B2626;
    font-size: 26px;
    font-weight: 500;
    line-height: 35px;
}

.discovery_out_right {
    display: flex;
}

.discovery_out_right_play_video {
    margin-top: 395px;
}

.discovery_out_right_play_video_svg {
    background-image: url(./img/face_5.svg);
    background-repeat: no-repeat;
    background-position: 5px;
    margin-left: 15px;
}

.discovery_out_right_play_video_p {
    color: #2B2626;
    font-size: 21px;
    font-style: normal;
    font-weight: 500;
    text-align: center;
}

.discovery_earphone {
    margin-top: 49px;
    margin-left: 26px;
    padding: 76px 4px 102px 4px;
    border-radius: 136px;
    background: #ECFEF4;
}

.star_down {
    margin-left: 26px;
    margin-top: 553px;
}

/* --------SECTION Apple_wireless---------*/
.Apple_wireless {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #845EC2;
    padding: 73px 43px 45px 85px;
    gap: 55px;
}

.Apple_wireless_left h2 {
    font-size: 60px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-align: center;
    text-shadow: 0 0 5px #FFFFFF;
    color: #845EC2;
}

.Apple_wireless_left_earphones {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 33px;
    margin-top: 43px;
}

.earphone_2 {
    position: relative;
    top: -70px;
}

.Apple_wireless_right h2 {
    color: #FFFFFF;
    font-size: 44px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.Apple_wireless_right p {
    margin-top: 10px;
    width: 500px;
}

.Apple_wireless_right_btn {
    display: flex;
    margin-top: 35px;
    gap: 10px;
}

.Apple_wireless_right_btn button {
    padding: 22px 70px 22px 70px;
}

.Apple_wireless_right_btn button:hover {
    background: #10B981;
    color: #FFFFFF;
}

/* --------Top Sellers---------*/
.Top_Sellers {
    padding: 121px 22px 0 85px;
}

.earphone_blocks {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 92px;
    background: aqua;
    gap: 93px;
}

.earphone_blocks_content {
    background: red;
}

.earphone_block_no_button {
    background: #10B981;
}

.earphone_raiting {
    background: wheat;
}

/*
.earphone_raiting {
    border-radius: 15px;
    background-color: red;
    position: relative;
}
.earphone_blocks_arrow{
    border: none;
}

.earphone_description{
    padding: 31px 76px 31px 52px;
    background: #FFFFFF;
    border-radius: 15px;
}
.sale_block{
    
    background: #10B981;
font-size: 18px;
font-weight: 600;
line-height: 22px;
text-align: center;
padding: 28px 12px;
border-radius: 100%;
width: 100px;
color:#FFFFFF;
position: relative;
top:15px;
}

*/