@charset "UTF-8";
/* <!-- --------------FOOTER------------------- --> */
footer {
  font-family: "DM Sans", sans-serif;
}

.footer-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 130px 185px;
}
.footer-block .start {
  display: flex;
  gap: 40px;
  width: 100%;
  justify-content: flex-end;
  padding-bottom: 41px;
  align-items: center;
  border-bottom: 1px solid var(--footer_start_section_color_border_bottom);
}
.footer-block .start_p {
  font-size: 22px;
  font-weight: 400;
  color: var(--first_text_color);
}
.footer-block .center {
  display: flex;
  margin-top: 40px;
  gap: 150px;
}
.footer-block .center-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
}
.footer-block .center-left__email-descr {
  font-size: 22px;
  font-weight: 400;
  max-width: 165px;
  line-height: 29px;
  letter-spacing: -0.3px;
  width: 100%;
}
.footer-block .center-left__email-form {
  display: flex;
  border-bottom: 1px solid var(--footer_start_section_color_border_bottom);
  align-items: center;
  max-width: 289px;
  width: 100%;
}
.footer-block .center-right {
  display: flex;
  gap: 172px;
}
.footer-block .center-right_ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
  list-style: none;
}
.footer-block .center-right_ul-title {
  color: var(--first_main_color);
  font-size: 17px;
  font-weight: 400;
}
.footer-block .center-right_ul_a {
  color: var(--first_text_color);
  font-size: 15px;
  font-weight: 400;
}

.end {
  display: flex;
  margin-top: 115px;
  flex-direction: row;
  width: 100%;
  gap: 660px;
}
.end-left {
  display: flex;
}
.end-left_ul {
  display: flex;
  gap: 39px;
  list-style: none;
}
.end-left_ul_a {
  font-size: 15px;
  font-weight: 400;
  color: var(--first_text_color);
}
.end-right {
  display: flex;
  align-items: center;
}
.end-right_ul {
  list-style: none;
  display: flex;
  gap: 40px;
}

/* Адаптирование под разные разрешения */
/* Мобильная версия от 360px до 768px */
@media (min-width: 360px) and (max-width: 768px) {
  /* <!-- --------------FOOTER------------------- --> */
  .footer-block {
    padding: 30px;
    flex-wrap: wrap;
    flex-direction: row;
  }
  .footer-block .start {
    flex-wrap: wrap;
  }
  .footer-block .center {
    flex-wrap: wrap;
    gap: 70px;
    justify-content: center;
  }
  .footer-block .center-right {
    flex-wrap: wrap;
    gap: 50px;
  }
  .footer-block .end {
    flex-wrap: wrap;
    gap: 50px;
    width: -moz-fit-content;
    width: fit-content;
  }
}
/* Планшетная версия от 769px до 1140px */
@media (min-width: 769px) and (max-width: 1140px) {
  .footer-block {
    padding: 30px;
    flex-wrap: wrap;
    flex-direction: row;
  }
  .footer-block .start {
    flex-wrap: wrap;
  }
  .footer-block .center {
    flex-wrap: wrap;
    gap: 70px;
    justify-content: center;
  }
  .footer-block .center-right {
    flex-wrap: wrap;
    gap: 50px;
  }
  .footer-block .end {
    flex-wrap: wrap;
    gap: 50px;
    width: -moz-fit-content;
    width: fit-content;
  }
}/*# sourceMappingURL=footer.css.map */